
.header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    padding-inline-start: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    margin-left: 5px;
    margin-right: 5px;
}