
.upper{
    padding-left: 60px;
    padding-right: 60px;
}

.header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    margin-left: 5px;
    margin-right: 5px;
}